html {
  font-family: "Noto Serif", serif;
  color: #333;
}

section {
  background: rgba(255,255,255,0.9);
  padding: 3em;
}

.slides {
  width: 80%;
}

h1,h2,h3,p,ul,ol {
  margin: 0 0 1em !important;
}

h1,h2,h3 {
  font-weight:bold !important;
}

p,li {
  font-size: 120% !important;
  line-height: 1.75 !important;
}

a:link {color: #f53;}
a:visited {color: #f53}
a:hover,
a:focus {color: #f74;
}
a:active {
  color: #f85;
}

a.roll {
  line-height: inherit !important;
}

section {
  font-size: 120% !important;
}

#scholarslab-makerspace-site {
  background: transparent !important;
}
